@font-face {
  font-family: 'Layla Thuluth';
  src: url('./LaylaThuluth Regular.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  
  html{
    font-size: 62.5%;
  }
  
  Link,a {
    text-decoration: none;
  }
  
  li a, li Link {
    text-decoration: none;
  }
  
  li{
    list-style: none;
  }
  
  .main-nav{
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 5rem 1fr 2fr 1fr 10rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 2/3;
  }
  
  .logo h2{
    font-size: 3.5rem;
    font-weight: 900;
    color: goldenrod;
    font-family: "Layla Thuluth", serif;
    padding-bottom: 100px;
    margin-bottom: 100px;
  }
  
  .menu-link{
    grid-column: 3/4;
    padding-top: 12px;
  }
  
  .menu-link ul{
    height: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .menu-link ul li{
    font-size: 1.8rem;
  }
  
  .menu-link ul li .navbar-link{
    color: #3a5a40;
    transition: 0.5s;
    margin-right: 20px;
  }
  
  .menu-link ul li:hover > .navbar-link{
    transform-origin: left;
    color: goldenrod;
    transition: 0.2s ease-in-out;
    border-bottom: 2px solid goldenrod;
  }
  
  .login{
    grid-column: 4/5;
    padding-top: 10px;
  }
  
  .login ul{
    height: 8rem;
    display: grid;
    grid-template-columns: 8fr repeat(2, 1fr);
    align-items: center;
   
  }
  
  .login ul li{
    text-align: right;
  }
  
  .login ul li:first-child{
    grid-column: 2/3;
  }
  
  .login ul li{
    font-size: 1.8rem;
  }
  
  .login ul li a{
    color: #3a5a40;
    transition: 0.5s;
    padding: 10px;
    border: 2px solid #3a5a40;
    border-radius: 25px;
  }
  
  .login ul li a:hover {
    background-color: goldenrod;
    color: white;
    transition: 0.5s ease-in-out;
    border: 2px solid goldenrod;
    border-radius: 10px;
  }
  
  .hamburger-menu{
    display: none;
  }
  
  @media (max-width:1080px) {
    .main-nav{
      height: 8rem;
      grid-template-columns: 1rem 3fr 3fr 1fr 1rem ;
    }
  
    .logo, .menu-link ul, .login ul{
      height: 8rem;
    }
    .navbar-link, .navbar-login-link{
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
  
  @media (max-width:998px) {
    .main-nav {
      height: 7rem;
      grid-template-columns: 2rem 2fr 3fr 2rem 2rem;
    }
  
    .menu-link {
      display: none;
    }
  
    .logo, .login ul{
      height: 7rem;
    }
  
    .mobile-menu-link{
      grid-column: 2/4;
      position: relative;
      z-index: 99;
    }
  
    .mobile-menu-link {
      background-color: white;
      height: 20rem;
      display: grid;
      grid-column: 2/5;
      align-items: center;
      padding-left: 3rem;
      transition: all 2s linear;
      transform-origin: top;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    }
  
    .mobile-menu-link ul {
      height: 20rem;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: start;
    }
  
    .mobile-menu-link ul li:first-child {
      transition-delay: 0.2s;
    }
  
    .login{
      grid-row: 1/2;
      grid-column: 3/5;
      justify-items: end;
      align-items: center;
      transition: all 2s linear;
    }
  
    .login{
        height: 7rem;
        display: flex;
        justify-self: end;
        align-items: center;
    }
  
    .login .navbar-login-link{
      display: none;
    }
    
    .login .hamburger-menu {
      display: block;
      font-size: 2.5rem;
      color: #3a5a40;
    }
  }
  
  @media (max-width: 520px) {
    .main-nav {
      height: 7rem;
      grid-template-columns: 1rem 4fr 1fr 1fr 1rem;
    }
  
    .login ul {
      height: 6rem;
    }

    .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 170px;
    }
    
    .logo img{
     display: none; 
    }

    .logo h2 {
      font-size: 2rem;
      margin-top: 200px;
      text-align: center;
    }

    .navbar-link{
      font-size: 20px;
      padding-top: 10px;
      width: 100%;
    }
  
    .login {
      height: 6rem;
      display: flex;
      justify-self: end;
      align-items: center;
    }
  
    .login .hamburger-menu {
      display: block;
      font-size: 2.5rem;
    }
  }