* {
  margin: 0;
  padding: 0;
}

.integration {
  background-color: #3a5a40;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
}
.integration h3 {
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
}
